$screen-origin: 1400;
$screen-mobile: 768;

@function fn-liq($min, $max) {
    $screen: $screen-origin - $screen-mobile;
    $space: $max - $min;

    @return clamp(#{$min}px, calc(#{$min}px + #{$space} / #{$screen} * (100vw - 768px)), #{$max}px);
}
