@function rem($pixels) {
    @return $pixels * 0.1rem;
}

@function clamped($min-px, $max-px, $min-bp, $max-bp) {
    $slope: math.div($max-px - $min-px, $max-bp - $min-bp);
    $slope-vw: $slope * 100;
    $intercept-rems: rem($min-px - $slope * $min-bp);
    $min-rems: rem($min-px);
    $max-rems: rem($max-px);
    @return clamp(#{$min-rems}, #{$slope-vw}vw + #{$intercept-rems}, #{$max-rems});
}

$screen-origin: 1400;
$screen-mobile: 768;
@function fn-liq($min, $max) {
    $screen: $screen-origin - $screen-mobile;
    $space: $max - $min;

    @return clamp(#{$min}px, calc(#{$min}px + #{$space} / #{$screen} * (100vw - #{$screen-mobile}px)), #{$max}px);
}
