// open with html 100%
// $p2r: 0.0625rem;

// open with html 62.5%
$p2r: 0.1rem;
$fonts: (
    "16": (
        "sp": 14,
        "pc": 16
    ),
    "160": (
        "sp": 40,
        "liq": (
            40,
            100
        )
    )
);

@each $name, $arr in $fonts {
    %fz-#{ $name } {
        @each $type, $unit in $arr {
            @if ($type == "sp") {
                font-size: $unit * $p2r;
            } @else if ($type == "pc") {
                @include media_min_query() {
                    font-size: $unit * $p2r;
                }
            } @else {
                @include media_min_query() {
                    font-size: fn-liq(nth($unit, 1), nth($unit, 2));
                }
            }
        }
    }
}

// .class-name {
//     @extend %fz-font-size cần thêm vào;
//     @extend %fz-18;
// }
